<main>
  <div id="board-header" class="<%= @board.turn %>">
    <p class="words-remaining red">Words left: <%= @board.red_words_remaining %></p>
    <p class="words-remaining blue">Words left: <%= @board.blue_words_remaining %></p>
    <% if @board.game_over? %>
      <h1>Game Over</h1>
      <%= form_for Board.new do |f| %>
        <button type="submit">Start new game</button>
      <% end %>
    <% else %>
      <h1><%= @board.turn.capitalize %>'s Turn</h1>
      <% if @board.guessing? %>
        <div id="current-clue">
          <h3><%= @last_clue.clue %>: <%= @last_clue.number %></h3>
          <% if @giver %>
            <p>Waiting for a guess...</p>
          <% else %>
            <div>
              Guess by clicking a card or
              <%= form_for @guess do |f| %>
                <%= hidden_field :board, :guesser_link_token %>
                <%= f.hidden_field :turn, value: Board.turns[@board.turn] %>
                <%= f.hidden_field :guess %>
                <%= f.submit "End turn" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <% if @giver %>
          <%= form_for @clue do |f| %>
            <%= hidden_field :board, :giver_link_token %>
            <%= f.hidden_field :turn, value: Board.turns[@board.turn] %>
            <%= f.label :clue %>
            <%= f.text_field :clue %>
            <%= f.label :number %>
            <%= f.text_field :number %>
            <%= f.submit "Send Clue" %>
          <% end %>
        <% else %>
          <p>Waiting for clue...</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div id="board" class="<%= @board.turn %> <%= @giver ? "giver" : "guesser" %>">
    <% @board.words.each_with_index do |word, index| %>
      <div class="word-container <%= word_container_guessed_class(@board, word, index) %> <%= word_container_giver_class(@board, word, index) if @giver %>" data-word="<%= word %>">
        <div class="word">
          <%= word %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="board-links">
    <div id="clues">
      <p>Recent clues:</p>
      <% @clues.each do |clue| %>
        <p class="<%= Board.turns.key(clue.turn) %>"><%= clue.clue %>: <%= clue.number %></p>
      <% end %>
    </div>
    <div id="guesses">
      <p>Recent guesses:</p>
      <% @guesses.each do |guess| %>
        <p class="<%= Board.turns.key(guess.turn) %>"><%= guess.guess %>: <%= guess.correct? ? "Correct" : (guess.assassin? ? "Assassin" : "Incorrect") %></p>
      <% end %>
    </div>
    <div>
      <% if @giver %>
        <div class="clue-giver">
          <p>Give this link to clue <strong>givers</strong>:</p>
          <p><%= link_to board_url(id: @board.giver_link_token), board_url(id: @board.giver_link_token) %></p>
        </div>
      <% end %>
      <div class="clue-guesser">
        <p>Give this link to clue <strong>guessers</strong>:</p>
        <p><%= link_to board_url(id: @board.guesser_link_token), board_url(id: @board.guesser_link_token) %></p>
      </div>
    </div>
  </div>
</main>

<% content_for :javascript do %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var currentLocation = window.location;
      var lastUpdatedAt = <%= @board.updated_at.to_i %>;

      var chooseWord = function(event) {
        event.preventDefault();
        var clickedContainer = event.target.closest(".word-container");
        var word = clickedContainer.dataset.word;
        var confirm = window.confirm("Guess " + word + "?");
        if (confirm) {
          document.querySelector("#guess_guess").value = word;
          document.querySelector("#new_guess").submit();
        }
      };

      <% if !@giver && @board.guessing? %>
        containers = document.querySelectorAll(".word-container:not(.guessed)")
        Array.prototype.forEach.call(containers, (container) => {
          container.addEventListener("click", chooseWord);
        });
      <% end %>

      var reloadBoard = function() {
        location.reload();
      };

      var handleUpdatedAtResponse = function() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            var updatedAt = httpRequest.responseText;
            if (parseInt(updatedAt) > lastUpdatedAt) {
              reloadBoard();
            } else {
              setTimeout(checkBoardUpdatedAt, 3000);
            }
          } else {
            console.log("Error");
          }
        }
      }

      var checkBoardUpdatedAt = function() {
        httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
          return false;
        }

        httpRequest.onreadystatechange = handleUpdatedAtResponse;

        httpRequest.open("GET", "<%= updated_at_board_path(@board, format: :json) %>");
        httpRequest.send();
      }

      <% unless @board.game_over? %>
        setTimeout(checkBoardUpdatedAt, 3000);
      <% end %>
    });
  </script>
<% end %>
