<main>
  <div id="board-header">
    <h1><%= @board.turn.capitalize %>'s Turn</h1>
  </div>
  <div id="board">
    <% @board.words.each_with_index do |word, index| %>
      <div class="word-container <%= word_container_class(@board, word, index) if @giver %>">
        <div class="word">
          <%= word %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="board-links">
    <% if @giver %>
      <div class="clue-giver">
        <p>Give this link to clue <strong>givers</strong>:</p>
        <p><%= link_to board_url(id: @board.giver_link_token) %></p>
      </div>
    <% end %>
    <div class="clue-guesser">
      <p>Give this link to clue <strong>guessers</strong>:</p>
      <p><%= link_to board_url(id: @board.guesser_link_token) %></p>
    </div>
  </div>
</main>
